/* src/App.css */
#root {

  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
}

.logo {
  height: 30rem; /* Increase the height of the logo */
  padding:1rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #7d7686);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #7d7686);
}

/* src/App.css */
.hidden {
  visibility: hidden;
}