@charset "UTF-8";
body {
  background:
          radial-gradient(ellipse at top left, #6a1921, transparent 70%),
          radial-gradient(ellipse at right 34% bottom 5%, #40b2c2, #000000 80%, #000000) left;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  color: #f5f4f6;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #f5f4f6;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}

body::after {
  content: "";
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(0deg, black, black 2px, transparent, transparent 4px);
  pointer-events: none;
}
body::before {
  content: "";
  position: absolute;
  z-index: 1000;
  opacity: 0.4;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at right 34% bottom 5%, transparent 60%, #000000);
  pointer-events: none;
}

::-moz-selection {
  background: #33202a;
  text-shadow: none;
}

::selection {
  background: #33202a;
  text-shadow: none;
}


@-webkit-keyframes text-blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0.8; /* Reduce the blink intensity */
  }
}

@keyframes text-blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0.8; /* Reduce the blink intensity */
  }
}

@-webkit-keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0.8; /* Reduce the blink intensity */
  }
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0.8; /* Reduce the blink intensity */
  }
}



.wrapper {
  padding: 10vh;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.wrapper::-webkit-scrollbar {
  display: none;
}

pre {
  white-space: pre-wrap;
  margin: 0 0 80vh;
  -webkit-animation: text-blink 0.01s steps(2) infinite;
  animation: text-blink 0.01s steps(2) infinite;
}



  .image-container {
    text-align: center;
    margin: 0;
    opacity: 0;
    transition: opacity 5s ease-in-out;
    padding: 0;
  }




